<div class="bio">
  <div class="bio__header">
  	<a href="{{ site.url }}{{ "/" | relative_url }}">
	  {{ site.header }}
	</a>
  </div>
  <div class="bio__desc">{{ site.desc }}</div>
  <br><b>Contact</b><br>
  <div class="contact">{{ site.contact }}</div>
  <a href="https://gnuyent.dev/gpg.txt" target="_blank" rel="noopener noreferrer">GPG Key</a>
  {% if site.data.social %}
  <div class="links">
    <br><b>Links</b><br>
    <ul class="bio__social">
      {% for item in site.data.social %}
      <li>{{ item.title }}: <a href="{{ item.url }}" target="_blank">{{ item.desc }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>
