@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  border-radius: 4px;
  padding: 0.125rem 0.25rem;
  background-color: #333;
}

a {
  @apply underline;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-sans;
  @apply my-5;
}

h1 {
  @apply text-3xl;
}
h2 {
  @apply text-2xl;
}

ul {
  list-style: circle;
}

li {
  @apply ml-10;
}

main {
  @apply text-lg;
}

table {
  border: 1px solid #555555;
  border-radius: 10px;
  padding: 10px;
}

thead tr {
  color: #ffffff;
  text-align: left;
  @apply font-sans;
  border-bottom: 1px solid #666666;
}

th,
td {
  padding: 12px 15px;
}

tbody tr:nth-of-type(odd) {
  background-color: #222222;
}

tbody tr:nth-of-type(even) {
  background-color: #333333;
}

tbody tr:last-of-type {
  border-bottom: none;
}

tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
