---
import PostList from '../components/PostList.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const allPosts = await Astro.glob('../pages/blog/*.mdx');
---

<BaseLayout title="Home">
    <p>
        <h1>About</h1>
        Hi, I'm Brandon, software engineer and [noun] for whatever I'm interested
        in at the moment.
    </p>
    <PostList posts={allPosts} />
</BaseLayout>
