<nav class="flex justify-between px-10 py-5 font-sans">
    <div class="flex items-center gap-4">
        <small>□</small>
        <a class="uppercase no-underline hover:underline" href="/">Home</a>
        <a class="uppercase no-underline hover:underline" href="/about/"
            >About</a
        >
        <a class="uppercase no-underline hover:underline" href="/blog/">Blog</a>
        <a class="uppercase no-underline hover:underline" href="/rss.xml">RSS</a
        >
    </div>
    <div id="nav-right" class="invisible sm:visible">gnuyent.dev</div>
</nav>
