---
import "../styles/global.css";
import "@fontsource/inter";
import "@fontsource/stix-two-text";
import Navigation from "../components/Navigation.svelte";
import Footer from "../components/Footer.svelte";

export interface Props {
  title: string;
}

const { title } = Astro.props;

export const formatDate = (date: string) =>
  new Date(date + " PST").toLocaleDateString("en-us", {
    year: "numeric",
    month: "short",
    day: "numeric",
  });

export const getGradientFromTag = (tag: string): string => {
  if (tag === "climbing") {
    return "bg-gradient-to-l from-neutral-500 to-gray-500";
  } else if (tag === "travel") {
    return "bg-gradient-to-r from-green-500 to-blue-300";
  } else {
    return "bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500";
  }
};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>gnuyent - {title}</title>
  </head>

  <body class="text-white bg-black">
    <Navigation />
    <main class="w-4/5 sm:w-3/5 md:w-2/5 m-auto font-serif">
      <slot />
    </main>
    <Footer />
  </body>
</html>
